@import './utils/mixins.css';
:root {
  --color-hover: #FFFFFF;
  --color-background-hover: #2196F3;
  --color-background-hover-button: #F5F4FA;
  --color-item-adress: #757575;
  --color-text: #212121;
}

body {
  background-color: var(--color-hover);
  font-family: Roboto, sans-serif;
  color: var(--color-text);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.section-details {
  padding-top: 94px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
}

.header-nav {
  display: flex;
}

.item-nav {
  display: flex;
}

.item-nav .list-nav:not(:last-child) {
  margin-right: 50px;
}

.border {
  border-bottom: 1px solid #ECECEC;
}

.link-nav {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-text);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover, .link-nav:focus {
  color: var(--color-background-hover);
}
.link-nav.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-background-hover);
  border-radius: 2px;
}

.header-nav .current,
.item-nav .current {
  color: var(--color-background-hover);
}

.auth-icon {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  margin-left: auto;
}

.auth-nav {
  display: flex;
}

.auth-mail-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-item-adress);
  text-decoration: none;
  font-style: normal;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-mail-link:hover, .auth-mail-link:focus {
  color: var(--color-background-hover);
}

.auth-phone-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-item-adress);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-phone-link:hover, .auth-phone-link:focus {
  color: var(--color-background-hover);
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}
.icon:hover, .icon:focus {
  fill: var(--color-background-hover);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-color: #C4C4C4;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-hover);
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-hover);
  background-color: var(--color-background-hover);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 24px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-background-hover);
  text-decoration: none;
}

.logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.social-item {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--color-background-hover);
}

.social-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: var(--color-hover);
}

.information {
  margin-right: auto;
  margin-left: auto;
  background-color: #2F303A;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  margin-right: 70px;
}

.information-container {
  display: flex;
  align-items: baseline;
}

.address-link {
  display: flex;
  font-weight: 400;
  line-height: 1.12;
  color: var(--color-hover);
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .address-link:focus {
  color: var(--color-background-hover);
}

.address-list:not(:nth-child(3n)) {
  margin-bottom: 12px;
}

.address-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  margin-top: 12px;
}
.address-mail:hover, .address-mail:focus {
  color: var(--color-background-hover);
}

.address-phone {
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.address-phone:hover, .address-phone:focus {
  color: var(--color-background-hover);
}

.network-social {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-hover);
}

.network-item {
  display: flex;
  margin-top: 20px;
}

.network-list:not(:last-child) {
  margin-right: 10px;
}

.network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link:hover, .network-link:focus {
  background-color: var(--color-background-hover);
}

.network-icon {
  fill: var(--color-hover);
}

.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-hover);
}

.subscribe-form-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  padding-left: 16px;
}

.subscribe-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-hover);
  background-color: var(--color-background-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding-left: 28px;
  cursor: pointer;
}

.telegram-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.subscribe {
  margin-left: auto;
}

.footer-logo {
  color: var(--color-hover);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--color-hover);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--color-background-hover);
}

.contact-form-title {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  cursor: pointer;
}
.contact-form-input:focus {
  outline: none;
  border-color: var(--color-background-hover);
}

.contact-form-subtitle {
  color: var(--color-item-adress);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  display: block;
}

.contact-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .contact-form-icon {
  fill: var(--color-background-hover);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: block;
}
.contact-form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-option {
  text-decoration: underline;
  color: var(--color-background-hover);
}

.contact-form-checkbox-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form-checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  content: " ";
  cursor: pointer;
  margin-right: 8px;
  background-image: url(../images/dont-checked.svg);
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/checked.svg);
  background-color: var(--color-background-hover);
  border-radius: 2px;
  background-repeat: no-repeat;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: contain;
  background-origin: border-box;
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 0.5px solid rgba(33, 150, 243, 0.9);
}

.contact-form-submit {
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  background-color: var(--color-background-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-background-hover-button);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.team {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-background-hover-button);
}

.team-border {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-hover);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-text);
  margin-bottom: 10px;
}

.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-item-adress);
}

.team-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list {
  margin-left: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
}

.clients-list {
  width: 170px;
  height: 92px;
}
.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--color-background-hover);
}
.clients-link:hover svg, .clients-link:focus svg {
  fill: var(--color-background-hover);
}

.clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.details-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-item-adress);
}

.details-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.details-item {
  display: flex;
  margin-left: -30px;
}

.details-list {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.details {
  height: 120px;
  background-color: var(--color-background-hover-button);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-hover);
  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-list {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  position: relative;
}

.button-list:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  background-color: var(--color-background-hover-button);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  background-color: var(--color-background-hover);
  color: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.portfolio-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-hover);
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.porfolio-list {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-hover:hover .portfolio-info,
.portfolio-hover:focus .portfolio-info {
  transform: translateY(0);
}

.porfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-link:hover, .porfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  background-color: var(--color-hover);
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
}

.porfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
  margin-bottom: 4px;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-item-adress);
}/*# sourceMappingURL=main.css.map */