span {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--color-background-hover); 
    text-decoration: none;   
} 

.logo-nav {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    margin-right: 92px;  
    padding-top: 24px;
    padding-bottom: 24px; 
}