.social-item {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-list:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-hover);
    transition: background-color 250ms var(--function-transition);

&:hover,
&:focus {
    background-color: var(--color-background-hover);
}
}



.social-icon {
    fill: #AFB1B8;
    transition: fill 250ms var(--function-transition);

.social-link:hover &,
.social-link:focus & {
    fill: var(--color-hover);
}
}
