:root {
    --color-hover: #FFFFFF;
    --color-background-hover: #2196F3;  
    --color-background-hover-button: #F5F4FA; 
    --color-item-adress: #757575;
    --color-text: #212121;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
 